/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   font-family: 'Noto Serif TC', serif;
   font-family: 'Noto Sans', sans-serif;


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  font-family:"Noto Sans", sans-serif;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*/* ==========================================================================
   Begin Home Styles
   ========================================================================== */


 header{
   background-color: #000000;
   min-height: 45px;
   display: flex;
   align-items: center;
   margin: 0 auto;
 }

 .Home{
 width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  }

  .chevron1{
  top: -44px;
  position: relative;
  }

  .chevron1 img{
    width: 84px;
  position: absolute;
  margin-bottom: 20%;
  }



/*End Home Styles

/* ==========================================================================
   Begin Nav Styles
   ========================================================================== */

.Navbar{
  background-color: #FF9100;
  width: 100%;
  min-height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Navbar a{
  width: 100%;
  color: #ffffff;
  margin: 10px;
  text-decoration: none;
  font-weight: 900;
  padding: 0px;
}

.Navbar a:hover{
  color: #000000;
}

.spacer{
  height: 20px;
  width: 15px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
/*End Nav styles


/* ==========================================================================
   Begin Hero Styles
   ========================================================================== */
   .Hero{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     background-image: url('../img/hero pic.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: none;
   }

/*End Hero styles

/* ======= */
.Orange_Bar1{
  background-color: #FF9100;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.chevron{
  top: -17px;
position: relative;
}

.chevron img{
  width: 84px;
position: absolute;
margin-bottom: 5%;
}

/* ==========================================================================
   Begin About Styles
   ========================================================================== */

.About_section{
  background-color: #000;
  min-height: 565px;
  padding: 10px

}

.About_CTA{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 90px;
  width: 50%,20%;
}

.About_CTA h1{
  margin: 30px;
  display: flex;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.About_CTA img {
  opacity: 100;
  transition: .1s ease;
  border: 2px solid black;


}

.About_CTA img:hover {
  opacity: 0.6;
  border: 2px solid orange;
  }


.About_CTA h2{
  margin: 30px;
  display: flex;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.About_CTA h3{
  margin: 20px;
  display: flex;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

/*End About styles

/* ======= */


/* ==========================================================================
   Begin Tour Styles
   ========================================================================== */

.Tour_section{
  background-color: #000;
  min-height: 598px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
}

.centerme{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Tour_CTA{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0px;
}

.Tour_CTA img{
  margin: 10px;

}

.Tour_CTA img{
  border: 3px solid black;
}

.Tour_CTA img:hover{
  border: 3px solid white;

}
.Tour_CTA h1{
  font-size: 84px;
  text-align: center;
  justify-content:center;
  font-weight: 900;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #FF9100;
}


.Tour_CTA h2{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 10px;
}

.Tour_CTA h3{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 1px;
}

/* End Tour styles

/* ======= */



/* ==========================================================================
   Begin Comment Styles
   ========================================================================== */
.Comment_section{
  background-color: #000;
  min-height: 564px;
  padding: 10px;

}

.Comment_CTA{
  align-items: center;
  justify-content: center;
  text-align: center;
}


.Comment_CTA h1{
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  padding: 10px;
  margin: 20px;
}

.Comment_CTA img{
  justify-content:center;
  align-items: center;
  margin: 20px;

}


.Comment_CTA img {
  opacity: 100;
  transition: .1s ease;
  border: 2px solid black;


}
.Comment_CTA img:hover {
  opacity: 0.7;
  border: 2px solid orange;
  }
/*End comment styles


/* ==========================================================================
   Begin footer Styles
   ========================================================================== */

footer{
  background-color: #FF9100;
  min-height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.media_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
}

.media_icons i{
margin: 2%;
}


.media_icons i:hover{
  color: #fff;
}

.Footer a{
  width: 90%;
  color: #000;
  margin: 9px;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-size: 9px;
  text-align: center;
}

.Footer a:hover{
  color: #fff;
}

.Spacer{
  height: 15px;
  width: 20px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

/* End footer styles











.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /* On screens that are 1800px wide or more */
   @media screen and (min-width: 1800px) {

   }

   /* On screens that are 1400px wide or less */
   @media screen and (max-width: 1400px) {

   }

   /* On screens that are 1000px wide or less */
   @media screen and (max-width: 1000px) {

   }

   /* On screens that are 900px wide or less */
   @media screen and (max-width: 900px) {

   }

   /* On screens that are 768px wide or less */
   @media screen and (max-width: 768px) {

   }

   /* On screens that are 550px wide or less */
   @media screen and (max-width: 550px) {

   }

   /* On screens that are 450px wide or less */
   @media screen and (max-width: 450px) {

   }

   /* On screens that are 300px wide or less */
   @media screen and (max-width: 300px) {

   }






@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
